@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #488FF9;
}

.form-signin {
  max-width: 330px;
  padding: 30px;
  background-color: whitesmoke;
}

.form-recuperar {
  max-width: 600px;
  padding: 30px;
  background-color: rgb(255, 255, 255) !important;
}

.form-signin .form-floating:focus-within {
  z-index: 1;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}