@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif !important;
    
}

._list_item{
    font-size: x-small;
    font-weight:lighter;
    color: rgb(40, 40, 40) !important;
}

.down_triangle{
    transform: rotate(180deg);
}

._navbar{
    background-color: #488FF9;
    font-weight: 500;
    font-size: medium;
}

._nav{
    background-color: #488FF9 !important;
    color: white !important;
    font-weight: 400 !important; 
}

._list{
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}


._list1{
    max-height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
}

._filtros{
    border: 1px solid;
}

.disabled{
    background-color: #EDECEC !important;
}

body a{
    text-decoration: none;
}

._bg-color {
    background-color: #e8f0fc;
}

._text{
    font-weight: 550 !important;
    font-size: 15px;
}

.noticias{
    max-height: 360px;
    overflow: scroll;
    overflow-x: hidden;
}

.titulo-2{
    font-size: medium;
    font-weight: bold;
}

.titulo-1{
    font-size: medium;
    font-weight: bold;
}

.texto{
    font-size: x-small;
}

.texto-1{
    font-size: small;
}

