@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif !important;
}

._list_item{
    font-size: small;
    font-weight: 560;
    color: rgb(124, 124, 124) !important;
}

.down_triangle{
    transform: rotate(180deg);
}

._navbar{
    background-color: #488FF9;
    font-weight: 500;
    font-size: medium;
}

._nav{
    background-color: #488FF9 !important;
    color: white !important;
    font-weight: 400 !important; 
}

._list{
    height: 70vh;
    overflow: scroll;
}

._filtros{
    border: 1px solid;
}

._list a{
    color: black;
}

.disabled{
    background-color: #EDECEC !important;
}

body a{
    text-decoration: none;
}

._bg-color {
    background-color: #e8f0fc;
}

._text{
    font-weight: 550 !important;
    font-size: 15px;
}


